.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    border-color: #666;
    background-image: url(/img/gGlUMYGEIvjDOOw.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 2rem;
}

.hometip{
    padding-top: 20rem;
}

@media screen and (max-width: 480px) {
    .banner{
        font-size: 1.5rem;
    }
    .hometip{
        padding-top: 14rem;
    }
}